<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="withdrawalForm">
        <h3>Bill Withdrawal</h3>
        <div class="form-group">
            <label for="cashAmount">Amount to withdraw (in USD): </label>
            <input id="cashAmount" class="form-control" formControlName="cashAmount" type="number" required>
        </div>
        <div>
            <button class="btn btn-success" type="submit" [disabled]="!withdrawalForm.valid">Withdraw</button>
        </div>
    </form>
</div>
