<!-- Toolbar -->
<nav class="navbar navbar-expand-md toolbar navbar-dark sticky-top">
  <!-- Brand -->
  <a class="navbar-brand" href="#">ATM Interface</a>

  <!-- Toggler/collapse Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>


<div class="content">
  <!-- Router View -->
  <router-outlet></router-outlet>
  <!-- Notifications -->
  <div class="m-3">
    <app-alert></app-alert>
  </div>
  <!-- Footer -->
  <footer>
    <span>Made by Tyler Thomas, 2021</span>
  </footer>
</div>