<div class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="restockForm">
        <h3>Restock ATM</h3>
        <div class="form-group">
            <label for="hundred">$100 Bills</label>
            <input id="hundred" class="form-control" formControlName="hundred" type="number" required>
        </div>
        <div class="form-group">
            <label for="fifty">$50 Bills</label>
            <input id="fifty" class="form-control" formControlName="fifty" type="number" required>
        </div>
        <div class="form-group">
            <label for="twenty">$20 Bills</label>
            <input id="twenty" class="form-control" formControlName="twenty" type="number" required>
        </div>
        <div class="form-group">
            <label for="ten">$10 Bills</label>
            <input id="ten" class="form-control" formControlName="ten" type="number" required>
        </div>
        <div class="form-group">
            <label for="five">$5 Bills</label>
            <input id="five" class="form-control" formControlName="five" type="number" required>
        </div>
        <div class="form-group">
            <label for="one">$1 Bills</label>
            <input id="one" class="form-control" formControlName="one" type="number" required>
        </div>
        <div class="component-child">
            <button class="btn btn-success" type="submit">Restock</button>
        </div>
    </form>
</div>
